button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}

a {
	text-decoration: none !important;
}

a:not(.text-decoration-none):hover {
	text-decoration: underline !important;
}

p {
	line-height: 1.6;
}
