$sm: 640px;
$md: 720px;
$lg: 960px;
$xl: 1080px;

.main-container {
    display: flex;
    justify-content: center;
    max-width: 100vw;

    .children {
        padding: 1rem;
        width: 70%;
        max-width: 1200px;

        @media only screen and (max-width: $xl) {
            padding: 0.7rem;
            width: 100%;
        }
    }
}
