@use "./RatingSelectShared.scss";

.selected-item {
	padding: 0.2rem;
	color: black;
	// border-radius: 25%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	&.selected-item-golden {
		background: RatingSelectShared.$gold;
	}

	&.selected-item-silver {
		background: RatingSelectShared.$silver;
	}

	&.selected-item-bronze {
		background: RatingSelectShared.$bronze;
		color: white;
	}
}
