// colors ripped from futbin :D
$gold: linear-gradient(
    45deg,
    #c6a009 0%,
    #f2c40b 50%,
    #f2c40b 51%,
    #f0cf4a 100%
);
$silver: linear-gradient(
    45deg,
    #a9aeb1 0%,
    #c2c7ca 50%,
    #c2c7ca 51%,
    #e9ecf0 100%
);
$bronze: linear-gradient(
    45deg,
    #6e4c35 0%,
    #9f7f69 50%,
    #9f7f69 51%,
    #ffd9aa 100%
);
$active-ring: rgb(41, 41, 41);

.rating-card {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.63);
    cursor: pointer;
    display: inline-flex;
    width: 2.7rem;
    height: 2.7rem;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;

    &.rating-card-golden {
        background: $gold;
        border: 1px solid #9b7d04;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9b7d04 0 -3px 0 inset;
    }

    &.rating-card-silver {
        background: $silver;
        border: 1px solid #7f8385;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #7f8385 0 -3px 0 inset;
    }

    &.rating-card-bronze {
        background: $bronze;
        color: white;
        border: 1px solid #6e4c35;
        box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6e4c35 0 -3px 0 inset;
    }

    &.rating-card-selected {
        font-weight: 600;
        filter: brightness(1.15);
        border: 3px solid $active-ring;
        box-shadow: 0 2px 4px $active-ring;
        transform: translateY(-1px);
    }

    &:hover {
        filter: brightness(1.1);
        transform: translateY(-1px);
    }
}
