@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");

$sm: 640px;
$md: 720px;
$lg: 960px;
$xl: 1080px;

html {
    scroll-behavior: smooth;
    font-size: 17px;

    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
}

::-webkit-scrollbar {
    width: 0.4vw;
    min-width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 9999px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--surface-b);
    color: var(--text-color);
    //cSpell: disable
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1136%26quot%3b)' fill='none'%3e%3cpath d='M536.1453357349677 189.82351411582283L435.13876331362087 45.571179044423445 290.8864282422215 146.5777514657703 391.89300066356833 290.8300865371697z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M16.23438886011182-85.08178354399848L19.898092547944216 136.93706354222286 187.9986580954109 39.88415677246451z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M760.5525735928343 383.20500568578325L806.7156762909383 525.7424978798588 896.0382918221217 429.95571988665284z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M41.608683260135685 459.8383184938934L13.779395334917773 656.493927720675 175.868284995334 594.2738325012173z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M588.0274080272703 557.3025355131466L594.9104949000427 365.439406694335 445.3760388283588 441.6310176391647z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M63.97223967912262 456.0306996485708L-96.70538801188519 581.5658206647529 28.829733004296912 742.2434483557607 189.50736069530473 616.7083273395787z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M555.2617622946195 274.0212561230855L633.2961645842906 394.1836981811625 753.4586066423676 316.1492958914914 675.4242043526966 195.9868538334144z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1167.8441887243073 794.409604770729L1206.3964182522172 627.4215526707212 1039.4083661522097 588.8693231428113 1000.8561366242996 755.8573752428189z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M81.95290455543184 114.75129740058584L7.359904801074421 119.96734806671112 52.480480677441065 229.2488223651846z' fill='rgba(28%2c 83%2c 142%2c 0.03)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1136'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    //cSpell: enable
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* touch screen */
@media (hover: none) {
    .p-tooltip {
        display: none;
    }
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

p {
    line-height: 1.6;
}

.card-panel {
    width: 100%;
}

a:not(.no-style-a) {
    background: linear-gradient(90deg, var(--primary-color), var(--blue-300));
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;

    text-decoration: none;
    color: var(--primary-color);
    font-weight: 900;
}

a:not(.no-style-a):hover {
    background-size: 100% 2px;
}

a.no-style-a {
    color: inherit;
    text-decoration: inherit;
}

.text-muted {
    color: var(--text-secondary-color);
}

.block-mask {
    opacity: 0 !important;

    &:hover {
        opacity: 1 !important;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    max-width: 100vw;

    .children {
        padding: 1rem;
        width: 70%;
        max-width: 1200px;

        @media only screen and (max-width: $xl) {
            padding: 0.7rem;
            width: 100%;
        }
    }
}

.custom-scroll-panel {
    .p-scrollpanel-bar {
        background-color: var(--primary-color);
        opacity: 1;
        filter: opacity(0.6);
        transition: background-color 0.3s;
    }

    .p-scrollpanel-bar:hover {
        filter: opacity(1);
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .header-theme-toggle {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .header-options {
        display: flex;
        align-items: center;
        column-gap: 20px;

        .header-theme-toggle {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }

    .header-brand {
        display: flex;
        align-items: center;
        letter-spacing: 0.2em;
        font-size: min(1.4em, 4vw);
        font-family: "Rubik", sans-serif;
        column-gap: 20px;
        max-width: 100vw;

        .logo {
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #007bff;
            border-radius: 9999px;
            border: 1px solid #003874;
            box-shadow: 4px 3px 0 #004fa3;
        }

        h1 {
            color: white;
            -webkit-text-stroke: 1px rgb(65, 65, 65);
            // color: var(--primary-color-text);
            // text-shadow: 0.025em 0.025em 0 var(--blue-300),
            // 	0.05em 0.05em 0 var(--cyan-500), 0.075em 0.075em 0 var(--teal-500),
            // 	0.1em 0.1em 0 var(--indigo-700);
            text-shadow: 0.025em 0.025em 0 #003e80, 0.05em 0.05em 0 #4da3ff,
                0.075em 0.075em 0 #007bff, 0.1em 0.1em 0 #265180;
        }
    }
}

.sidebar-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        padding-left: 15px;
    }

    li {
        width: 90%;
        line-height: 2;
        margin-bottom: 1.7rem;
        padding-left: 15px;
    }

    .links-container {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
}

.existing-ratings-table {
    font-family: var(--font-family);
    color: var(--text-color);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: initial;

    th,
    td {
        padding: 12px;
    }

    thead {
        tr {
            background-color: var(--primary-color);
            color: var(--primary-color-text);
        }
    }

    tbody {
        &.striped {
            tr:nth-child(odd) {
                background-color: var(--surface-a);
            }
            tr:nth-child(even) {
                background-color: var(--surface-b);
            }
        }

        tr {
            border-top: 1px solid var(--surface-200);
            border-bottom: 1px solid var(--surface-200);
        }

        tr:not(.no-hover):hover {
            background-color: var(--surface-hover);
        }
    }

    @media only screen and (max-width: $lg) {
        overflow-x: auto;
    }
}

.solutions {
    min-height: 1000px;

    .infinite-scroll {
        overflow: initial;
    }

    .solutions-table {
        font-family: var(--font-family);
        color: var(--text-color);
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        overflow: initial;

        .sticky-header {
            position: sticky;
            top: 0;
        }

        th,
        td {
            padding: 12px;
        }

        thead {
            tr {
                background-color: var(--primary-color);
                color: var(--primary-color-text);
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: var(--surface-a);
            }
            tr:nth-child(even) {
                background-color: var(--surface-b);
            }

            tr {
                border-top: 1px solid var(--surface-200);
                border-bottom: 1px solid var(--surface-200);
            }

            tr:hover {
                background-color: var(--surface-hover);
            }
        }

        @media only screen and (max-width: $lg) {
            overflow-x: auto;
        }
    }

    .rating-cell {
        text-align: center;
    }

    .price-cell {
        text-align: right;
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.try-rating-slider {
    // width: 95%;
    margin: 10px;

    .rc-slider-track,
    .rc-slider-handle {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .rc-slider-rail {
        background-color: var(--surface-300);
    }

    .rc-slider-dot {
        background-color: var(--surface-300);
        border-color: var(--surface-300);

        &.rc-slider-dot-active {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}

.try-rating-mark {
    color: var(--text-color);
}

.rating-select-overlay-panel {
    width: 500px;

    .rating-select-overlay-content {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(8, 1fr);
    }

    @media only screen and (max-width: $lg) {
        width: 75vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    @media only screen and (max-width: $lg) {
        width: 75vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(10, 1fr);
        }
    }

    @media only screen and (max-width: $md) {
        width: 100vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    @media only screen and (max-width: $sm) {
        width: 100vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.target-rating-container {
    .options {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media only screen and (max-width: $md) {
            justify-content: space-between;
            padding-right: 5px;
            max-height: 300px;
            overflow-y: auto;

            &::after {
                content: "";
                flex: auto;
            }
        }
    }
}

.bmc-btn {
    transition: transform 0.15s;
}

.bmc-btn:hover {
    filter: brightness(0.95);
}
