@import "../styles/variables.scss";

.solutions {
    min-height: 1000px;

    .infinite-scroll {
        overflow: initial;
    }

    .solutions-table {
        font-family: var(--font-family);
        color: var(--text-color);
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        overflow: initial;

        .sticky-header {
            position: sticky;
            top: 0;
        }

        th,
        td {
            padding: 12px;
        }

        thead {
            tr {
                background-color: var(--primary-color);
                color: var(--primary-color-text);
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: var(--surface-a);
            }
            tr:nth-child(even) {
                background-color: var(--surface-b);
            }

            tr {
                border-top: 1px solid var(--surface-200);
                border-bottom: 1px solid var(--surface-200);
            }

            tr:hover {
                background-color: var(--surface-hover);
            }
        }

        @media only screen and (max-width: $lg) {
            overflow-x: auto;
        }
    }

    .rating-cell {
        text-align: center;
    }

    .price-cell {
        text-align: right;
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
