@import "../../styles/variables.scss";

.rating-select-overlay-panel {
    width: 500px;

    .rating-select-overlay-content {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: repeat(8, 1fr);
    }

    @media only screen and (max-width: $lg) {
        width: 75vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    @media only screen and (max-width: $lg) {
        width: 75vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(10, 1fr);
        }
    }

    @media only screen and (max-width: $md) {
        width: 100vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(9, 1fr);
        }
    }

    @media only screen and (max-width: $sm) {
        width: 100vw;
        .rating-select-overlay-content {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
