.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.particle,
.particle:after {
    background: transparent;
}

.particle:after {
    content: "";
    position: absolute;
    top: 2560px;
    // top: 500px;
}

.particle-1 {
    height: 7px;
    width: 7px;
    animation: animParticle 120s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 hsla(0, 0%, 100%, 0.04),
        2041px 406px hsla(0, 0%, 100%, 0.04),
        2107px 206px hsla(0, 0%, 100%, 0.04),
        2021px 1250px hsla(0, 0%, 100%, 0.04),
        2472px 2511px hsla(0, 0%, 100%, 0.04),
        1611px 1091px hsla(0, 0%, 100%, 0.04), 39px 92px hsla(0, 0%, 100%, 0.04),
        661px 2087px hsla(0, 0%, 100%, 0.04),
        954px 153px hsla(0, 0%, 100%, 0.04),
        2503px 1160px hsla(0, 0%, 100%, 0.04),
        118px 378px hsla(0, 0%, 100%, 0.04), 757px 948px hsla(0, 0%, 100%, 0.04),
        652px 2069px hsla(0, 0%, 100%, 0.04),
        1748px 46px hsla(0, 0%, 100%, 0.04),
        508px 2080px hsla(0, 0%, 100%, 0.04),
        2162px 1525px hsla(0, 0%, 100%, 0.04),
        1714px 573px hsla(0, 0%, 100%, 0.04),
        595px 1025px hsla(0, 0%, 100%, 0.04),
        1039px 1510px hsla(0, 0%, 100%, 0.04),
        914px 1586px hsla(0, 0%, 100%, 0.04),
        933px 421px hsla(0, 0%, 100%, 0.04),
        1258px 729px hsla(0, 0%, 100%, 0.04),
        2290px 1934px hsla(0, 0%, 100%, 0.04),
        428px 1327px hsla(0, 0%, 100%, 0.04),
        751px 1544px hsla(0, 0%, 100%, 0.04),
        2494px 1389px hsla(0, 0%, 100%, 0.04),
        1563px 1761px hsla(0, 0%, 100%, 0.04),
        1560px 596px hsla(0, 0%, 100%, 0.04),
        1494px 1391px hsla(0, 0%, 100%, 0.04),
        1153px 106px hsla(0, 0%, 100%, 0.04),
        904px 2312px hsla(0, 0%, 100%, 0.04),
        935px 710px hsla(0, 0%, 100%, 0.04),
        1363px 937px hsla(0, 0%, 100%, 0.04),
        297px 231px hsla(0, 0%, 100%, 0.04),
        2310px 1349px hsla(0, 0%, 100%, 0.04),
        939px 663px hsla(0, 0%, 100%, 0.04),
        572px 2393px hsla(0, 0%, 100%, 0.04),
        353px 269px hsla(0, 0%, 100%, 0.04),
        1252px 702px hsla(0, 0%, 100%, 0.04),
        624px 2541px hsla(0, 0%, 100%, 0.04),
        1659px 1560px hsla(0, 0%, 100%, 0.04),
        19px 2184px hsla(0, 0%, 100%, 0.04),
        1559px 2213px hsla(0, 0%, 100%, 0.04),
        1293px 306px hsla(0, 0%, 100%, 0.04),
        667px 2542px hsla(0, 0%, 100%, 0.04),
        2089px 1388px hsla(0, 0%, 100%, 0.04),
        2548px 451px hsla(0, 0%, 100%, 0.04), 828px 53px hsla(0, 0%, 100%, 0.04),
        1334px 2382px hsla(0, 0%, 100%, 0.04),
        547px 1889px hsla(0, 0%, 100%, 0.04), 295px 40px hsla(0, 0%, 100%, 0.04),
        479px 144px hsla(0, 0%, 100%, 0.04),
        1458px 392px hsla(0, 0%, 100%, 0.04),
        1891px 2011px hsla(0, 0%, 100%, 0.04),
        1751px 608px hsla(0, 0%, 100%, 0.04),
        555px 1360px hsla(0, 0%, 100%, 0.04),
        2121px 2374px hsla(0, 0%, 100%, 0.04),
        2091px 989px hsla(0, 0%, 100%, 0.04),
        886px 740px hsla(0, 0%, 100%, 0.04),
        1999px 2545px hsla(0, 0%, 100%, 0.04),
        1625px 554px hsla(0, 0%, 100%, 0.04),
        935px 1634px hsla(0, 0%, 100%, 0.04),
        2476px 595px hsla(0, 0%, 100%, 0.04),
        870px 1464px hsla(0, 0%, 100%, 0.04),
        1257px 950px hsla(0, 0%, 100%, 0.04),
        2216px 2032px hsla(0, 0%, 100%, 0.04),
        764px 1544px hsla(0, 0%, 100%, 0.04),
        1521px 984px hsla(0, 0%, 100%, 0.04),
        533px 1352px hsla(0, 0%, 100%, 0.04),
        896px 969px hsla(0, 0%, 100%, 0.04),
        1032px 1743px hsla(0, 0%, 100%, 0.04),
        2499px 44px hsla(0, 0%, 100%, 0.04),
        306px 1477px hsla(0, 0%, 100%, 0.04),
        295px 408px hsla(0, 0%, 100%, 0.04),
        1648px 2560px hsla(0, 0%, 100%, 0.04),
        265px 242px hsla(0, 0%, 100%, 0.04), 397px 264px hsla(0, 0%, 100%, 0.04),
        1158px 1231px hsla(0, 0%, 100%, 0.04),
        2456px 540px hsla(0, 0%, 100%, 0.04),
        1891px 210px hsla(0, 0%, 100%, 0.04),
        1922px 1465px hsla(0, 0%, 100%, 0.04),
        2256px 1065px hsla(0, 0%, 100%, 0.04),
        1339px 2261px hsla(0, 0%, 100%, 0.04),
        239px 930px hsla(0, 0%, 100%, 0.04), 571px 698px hsla(0, 0%, 100%, 0.04),
        116px 30px hsla(0, 0%, 100%, 0.04),
        2434px 2000px hsla(0, 0%, 100%, 0.04),
        2535px 719px hsla(0, 0%, 100%, 0.04),
        292px 1099px hsla(0, 0%, 100%, 0.04),
        1485px 1335px hsla(0, 0%, 100%, 0.04),
        1138px 449px hsla(0, 0%, 100%, 0.04),
        548px 2418px hsla(0, 0%, 100%, 0.04),
        943px 1906px hsla(0, 0%, 100%, 0.04),
        120px 1269px hsla(0, 0%, 100%, 0.04),
        2167px 1999px hsla(0, 0%, 100%, 0.04),
        1749px 457px hsla(0, 0%, 100%, 0.04),
        1594px 1893px hsla(0, 0%, 100%, 0.04),
        128px 638px hsla(0, 0%, 100%, 0.04), 19px 14px hsla(0, 0%, 100%, 0.04),
        1394px 2140px hsla(0, 0%, 100%, 0.04),
        53px 1580px hsla(0, 0%, 100%, 0.04),
        316px 1194px hsla(0, 0%, 100%, 0.04),
        377px 2179px hsla(0, 0%, 100%, 0.04),
        726px 728px hsla(0, 0%, 100%, 0.04),
        1644px 1615px hsla(0, 0%, 100%, 0.04),
        743px 186px hsla(0, 0%, 100%, 0.04), 469px 661px hsla(0, 0%, 100%, 0.04),
        1639px 1303px hsla(0, 0%, 100%, 0.04),
        399px 2040px hsla(0, 0%, 100%, 0.04),
        985px 1592px hsla(0, 0%, 100%, 0.04),
        2133px 908px hsla(0, 0%, 100%, 0.04),
        1273px 59px hsla(0, 0%, 100%, 0.04),
        1252px 727px hsla(0, 0%, 100%, 0.04),
        2507px 846px hsla(0, 0%, 100%, 0.04),
        2102px 152px hsla(0, 0%, 100%, 0.04),
        1291px 2242px hsla(0, 0%, 100%, 0.04),
        1693px 1896px hsla(0, 0%, 100%, 0.04),
        2176px 2218px hsla(0, 0%, 100%, 0.04),
        381px 444px hsla(0, 0%, 100%, 0.04),
        146px 1186px hsla(0, 0%, 100%, 0.04),
        941px 317px hsla(0, 0%, 100%, 0.04),
        319px 1296px hsla(0, 0%, 100%, 0.04),
        702px 830px hsla(0, 0%, 100%, 0.04),
        1754px 1193px hsla(0, 0%, 100%, 0.04),
        1926px 2100px hsla(0, 0%, 100%, 0.04),
        79px 2267px hsla(0, 0%, 100%, 0.04), 816px 105px hsla(0, 0%, 100%, 0.04),
        2181px 960px hsla(0, 0%, 100%, 0.04),
        1289px 2006px hsla(0, 0%, 100%, 0.04),
        784px 69px hsla(0, 0%, 100%, 0.04),
        2001px 1679px hsla(0, 0%, 100%, 0.04),
        1339px 2224px hsla(0, 0%, 100%, 0.04),
        2502px 1446px hsla(0, 0%, 100%, 0.04),
        684px 464px hsla(0, 0%, 100%, 0.04), 1039px 79px hsla(0, 0%, 100%, 0.04),
        2441px 1330px hsla(0, 0%, 100%, 0.04),
        1077px 2381px hsla(0, 0%, 100%, 0.04),
        420px 1300px hsla(0, 0%, 100%, 0.04),
        272px 2369px hsla(0, 0%, 100%, 0.04),
        290px 2406px hsla(0, 0%, 100%, 0.04),
        2133px 379px hsla(0, 0%, 100%, 0.04),
        128px 1270px hsla(0, 0%, 100%, 0.04),
        2193px 1818px hsla(0, 0%, 100%, 0.04),
        171px 406px hsla(0, 0%, 100%, 0.04),
        816px 1989px hsla(0, 0%, 100%, 0.04),
        2344px 1726px hsla(0, 0%, 100%, 0.04),
        577px 2469px hsla(0, 0%, 100%, 0.04),
        697px 1066px hsla(0, 0%, 100%, 0.04),
        49px 1706px hsla(0, 0%, 100%, 0.04),
        2131px 2020px hsla(0, 0%, 100%, 0.04),
        441px 1682px hsla(0, 0%, 100%, 0.04),
        1832px 685px hsla(0, 0%, 100%, 0.04),
        2320px 2412px hsla(0, 0%, 100%, 0.04),
        1095px 803px hsla(0, 0%, 100%, 0.04),
        1504px 555px hsla(0, 0%, 100%, 0.04),
        652px 549px hsla(0, 0%, 100%, 0.04),
        1738px 1589px hsla(0, 0%, 100%, 0.04),
        1716px 1344px hsla(0, 0%, 100%, 0.04),
        1060px 1194px hsla(0, 0%, 100%, 0.04), 4px 975px hsla(0, 0%, 100%, 0.04),
        1783px 1199px hsla(0, 0%, 100%, 0.04),
        262px 2315px hsla(0, 0%, 100%, 0.04),
        1117px 461px hsla(0, 0%, 100%, 0.04),
        1942px 939px hsla(0, 0%, 100%, 0.04),
        2228px 39px hsla(0, 0%, 100%, 0.04),
        1975px 466px hsla(0, 0%, 100%, 0.04),
        342px 1517px hsla(0, 0%, 100%, 0.04),
        1572px 1965px hsla(0, 0%, 100%, 0.04),
        1023px 688px hsla(0, 0%, 100%, 0.04),
        711px 1512px hsla(0, 0%, 100%, 0.04),
        417px 1995px hsla(0, 0%, 100%, 0.04),
        1267px 2495px hsla(0, 0%, 100%, 0.04),
        1248px 1714px hsla(0, 0%, 100%, 0.04),
        903px 100px hsla(0, 0%, 100%, 0.04),
        2433px 937px hsla(0, 0%, 100%, 0.04),
        2530px 538px hsla(0, 0%, 100%, 0.04),
        1028px 801px hsla(0, 0%, 100%, 0.04),
        1911px 1921px hsla(0, 0%, 100%, 0.04),
        1425px 651px hsla(0, 0%, 100%, 0.04),
        2409px 458px hsla(0, 0%, 100%, 0.04),
        2557px 109px hsla(0, 0%, 100%, 0.04),
        2432px 1759px hsla(0, 0%, 100%, 0.04),
        615px 199px hsla(0, 0%, 100%, 0.04),
        1761px 456px hsla(0, 0%, 100%, 0.04),
        1618px 929px hsla(0, 0%, 100%, 0.04),
        1639px 81px hsla(0, 0%, 100%, 0.04), 445px 138px hsla(0, 0%, 100%, 0.04),
        118px 1709px hsla(0, 0%, 100%, 0.04),
        2223px 252px hsla(0, 0%, 100%, 0.04), 546px 71px hsla(0, 0%, 100%, 0.04),
        471px 719px hsla(0, 0%, 100%, 0.04),
        2214px 1893px hsla(0, 0%, 100%, 0.04),
        1688px 252px hsla(0, 0%, 100%, 0.04),
        1863px 928px hsla(0, 0%, 100%, 0.04),
        80px 2355px hsla(0, 0%, 100%, 0.04),
        2533px 1115px hsla(0, 0%, 100%, 0.04),
        2422px 528px hsla(0, 0%, 100%, 0.04),
        1994px 1996px hsla(0, 0%, 100%, 0.04),
        467px 1398px hsla(0, 0%, 100%, 0.04),
        2011px 1340px hsla(0, 0%, 100%, 0.04),
        2041px 1858px hsla(0, 0%, 100%, 0.04),
        191px 290px hsla(0, 0%, 100%, 0.04),
        1514px 2054px hsla(0, 0%, 100%, 0.04),
        2166px 2383px hsla(0, 0%, 100%, 0.04),
        468px 1952px hsla(0, 0%, 100%, 0.04),
        1151px 621px hsla(0, 0%, 100%, 0.04),
        555px 1669px hsla(0, 0%, 100%, 0.04),
        1779px 82px hsla(0, 0%, 100%, 0.04),
        685px 1769px hsla(0, 0%, 100%, 0.04),
        392px 1857px hsla(0, 0%, 100%, 0.04),
        521px 1013px hsla(0, 0%, 100%, 0.04),
        2449px 1810px hsla(0, 0%, 100%, 0.04),
        2414px 117px hsla(0, 0%, 100%, 0.04),
        998px 1676px hsla(0, 0%, 100%, 0.04),
        1575px 1411px hsla(0, 0%, 100%, 0.04),
        1152px 945px hsla(0, 0%, 100%, 0.04),
        2452px 2025px hsla(0, 0%, 100%, 0.04),
        1908px 149px hsla(0, 0%, 100%, 0.04),
        2486px 368px hsla(0, 0%, 100%, 0.04),
        2132px 2407px hsla(0, 0%, 100%, 0.04),
        349px 1647px hsla(0, 0%, 100%, 0.04),
        1931px 310px hsla(0, 0%, 100%, 0.04),
        2473px 1155px hsla(0, 0%, 100%, 0.04),
        1444px 1265px hsla(0, 0%, 100%, 0.04),
        744px 2118px hsla(0, 0%, 100%, 0.04),
        661px 889px hsla(0, 0%, 100%, 0.04),
        1820px 511px hsla(0, 0%, 100%, 0.04),
        2011px 10px hsla(0, 0%, 100%, 0.04),
        922px 2108px hsla(0, 0%, 100%, 0.04),
        2411px 2003px hsla(0, 0%, 100%, 0.04),
        1591px 1146px hsla(0, 0%, 100%, 0.04),
        2512px 2102px hsla(0, 0%, 100%, 0.04),
        1602px 1244px hsla(0, 0%, 100%, 0.04),
        1000px 1192px hsla(0, 0%, 100%, 0.04),
        1285px 1403px hsla(0, 0%, 100%, 0.04),
        996px 1266px hsla(0, 0%, 100%, 0.04),
        2400px 2545px hsla(0, 0%, 100%, 0.04),
        2116px 374px hsla(0, 0%, 100%, 0.04),
        545px 2552px hsla(0, 0%, 100%, 0.04),
        1453px 1279px hsla(0, 0%, 100%, 0.04),
        1182px 1004px hsla(0, 0%, 100%, 0.04),
        1040px 1113px hsla(0, 0%, 100%, 0.04),
        2000px 2324px hsla(0, 0%, 100%, 0.04),
        1266px 1856px hsla(0, 0%, 100%, 0.04),
        353px 388px hsla(0, 0%, 100%, 0.04),
        1723px 1863px hsla(0, 0%, 100%, 0.04),
        2096px 263px hsla(0, 0%, 100%, 0.04),
        1857px 766px hsla(0, 0%, 100%, 0.04),
        327px 1340px hsla(0, 0%, 100%, 0.04),
        605px 910px hsla(0, 0%, 100%, 0.04),
        564px 2085px hsla(0, 0%, 100%, 0.04),
        1508px 2149px hsla(0, 0%, 100%, 0.04),
        1251px 1693px hsla(0, 0%, 100%, 0.04),
        1674px 428px hsla(0, 0%, 100%, 0.04),
        486px 1343px hsla(0, 0%, 100%, 0.04),
        217px 702px hsla(0, 0%, 100%, 0.04), 501px 416px hsla(0, 0%, 100%, 0.04),
        1505px 935px hsla(0, 0%, 100%, 0.04),
        1951px 108px hsla(0, 0%, 100%, 0.04),
        1254px 1112px hsla(0, 0%, 100%, 0.04),
        2528px 99px hsla(0, 0%, 100%, 0.04),
        230px 1555px hsla(0, 0%, 100%, 0.04),
        2212px 284px hsla(0, 0%, 100%, 0.04),
        967px 419px hsla(0, 0%, 100%, 0.04),
        2303px 2112px hsla(0, 0%, 100%, 0.04),
        424px 269px hsla(0, 0%, 100%, 0.04),
        2157px 2398px hsla(0, 0%, 100%, 0.04),
        1543px 1328px hsla(0, 0%, 100%, 0.04),
        2208px 173px hsla(0, 0%, 100%, 0.04),
        1041px 1047px hsla(0, 0%, 100%, 0.04),
        831px 2035px hsla(0, 0%, 100%, 0.04),
        2365px 1312px hsla(0, 0%, 100%, 0.04),
        1532px 2486px hsla(0, 0%, 100%, 0.04),
        2078px 1927px hsla(0, 0%, 100%, 0.04),
        2061px 493px hsla(0, 0%, 100%, 0.04),
        1827px 1849px hsla(0, 0%, 100%, 0.04),
        942px 2524px hsla(0, 0%, 100%, 0.04), 1052px 2px hsla(0, 0%, 100%, 0.04),
        1230px 2498px hsla(0, 0%, 100%, 0.04),
        665px 400px hsla(0, 0%, 100%, 0.04),
        201px 1064px hsla(0, 0%, 100%, 0.04),
        225px 1129px hsla(0, 0%, 100%, 0.04),
        2553px 1043px hsla(0, 0%, 100%, 0.04),
        3px 1548px hsla(0, 0%, 100%, 0.04), 3px 1486px hsla(0, 0%, 100%, 0.04),
        915px 1763px hsla(0, 0%, 100%, 0.04),
        25px 1403px hsla(0, 0%, 100%, 0.04),
        2271px 1117px hsla(0, 0%, 100%, 0.04),
        1873px 848px hsla(0, 0%, 100%, 0.04), 122px 52px hsla(0, 0%, 100%, 0.04),
        2116px 697px hsla(0, 0%, 100%, 0.04),
        1262px 1969px hsla(0, 0%, 100%, 0.04),
        2183px 1386px hsla(0, 0%, 100%, 0.04),
        315px 2028px hsla(0, 0%, 100%, 0.04),
        1813px 1014px hsla(0, 0%, 100%, 0.04),
        191px 1629px hsla(0, 0%, 100%, 0.04),
        205px 978px hsla(0, 0%, 100%, 0.04),
        1104px 2473px hsla(0, 0%, 100%, 0.04),
        2146px 1171px hsla(0, 0%, 100%, 0.04),
        544px 218px hsla(0, 0%, 100%, 0.04),
        1172px 1258px hsla(0, 0%, 100%, 0.04),
        220px 348px hsla(0, 0%, 100%, 0.04),
        914px 1031px hsla(0, 0%, 100%, 0.04),
        1959px 958px hsla(0, 0%, 100%, 0.04),
        531px 2416px hsla(0, 0%, 100%, 0.04),
        2329px 1684px hsla(0, 0%, 100%, 0.04),
        2361px 1564px hsla(0, 0%, 100%, 0.04),
        1831px 963px hsla(0, 0%, 100%, 0.04),
        27px 1472px hsla(0, 0%, 100%, 0.04),
        2313px 2030px hsla(0, 0%, 100%, 0.04),
        2275px 665px hsla(0, 0%, 100%, 0.04),
        1304px 1980px hsla(0, 0%, 100%, 0.04),
        74px 2087px hsla(0, 0%, 100%, 0.04),
        1204px 141px hsla(0, 0%, 100%, 0.04),
        1132px 1570px hsla(0, 0%, 100%, 0.04),
        1324px 82px hsla(0, 0%, 100%, 0.04),
        1138px 2032px hsla(0, 0%, 100%, 0.04),
        34px 2324px hsla(0, 0%, 100%, 0.04),
        480px 2087px hsla(0, 0%, 100%, 0.04),
        2541px 404px hsla(0, 0%, 100%, 0.04),
        1792px 1348px hsla(0, 0%, 100%, 0.04),
        1721px 1940px hsla(0, 0%, 100%, 0.04),
        915px 1380px hsla(0, 0%, 100%, 0.04),
        1919px 977px hsla(0, 0%, 100%, 0.04),
        2202px 2044px hsla(0, 0%, 100%, 0.04),
        221px 1426px hsla(0, 0%, 100%, 0.04),
        1381px 487px hsla(0, 0%, 100%, 0.04),
        2288px 390px hsla(0, 0%, 100%, 0.04),
        485px 1494px hsla(0, 0%, 100%, 0.04),
        984px 1088px hsla(0, 0%, 100%, 0.04),
        1946px 1787px hsla(0, 0%, 100%, 0.04),
        2222px 771px hsla(0, 0%, 100%, 0.04),
        531px 1651px hsla(0, 0%, 100%, 0.04),
        1482px 674px hsla(0, 0%, 100%, 0.04), 199px 47px hsla(0, 0%, 100%, 0.04),
        302px 192px hsla(0, 0%, 100%, 0.04), 422px 569px hsla(0, 0%, 100%, 0.04),
        1608px 2484px hsla(0, 0%, 100%, 0.04),
        2287px 907px hsla(0, 0%, 100%, 0.04),
        1035px 528px hsla(0, 0%, 100%, 0.04),
        2134px 1899px hsla(0, 0%, 100%, 0.04),
        2054px 461px hsla(0, 0%, 100%, 0.04),
        1236px 2143px hsla(0, 0%, 100%, 0.04),
        1575px 2418px hsla(0, 0%, 100%, 0.04),
        37px 1665px hsla(0, 0%, 100%, 0.04),
        1997px 1159px hsla(0, 0%, 100%, 0.04),
        322px 1522px hsla(0, 0%, 100%, 0.04),
        1498px 302px hsla(0, 0%, 100%, 0.04),
        1136px 2215px hsla(0, 0%, 100%, 0.04),
        1048px 447px hsla(0, 0%, 100%, 0.04),
        1984px 456px hsla(0, 0%, 100%, 0.04),
        2314px 2277px hsla(0, 0%, 100%, 0.04),
        2433px 1861px hsla(0, 0%, 100%, 0.04),
        549px 1458px hsla(0, 0%, 100%, 0.04),
        114px 1435px hsla(0, 0%, 100%, 0.04), 152px 82px hsla(0, 0%, 100%, 0.04),
        2340px 1419px hsla(0, 0%, 100%, 0.04),
        2330px 1732px hsla(0, 0%, 100%, 0.04),
        2412px 951px hsla(0, 0%, 100%, 0.04),
        2025px 2300px hsla(0, 0%, 100%, 0.04),
        1667px 1321px hsla(0, 0%, 100%, 0.04),
        2132px 1750px hsla(0, 0%, 100%, 0.04),
        463px 2245px hsla(0, 0%, 100%, 0.04),
        1342px 387px hsla(0, 0%, 100%, 0.04),
        1243px 2188px hsla(0, 0%, 100%, 0.04),
        1353px 2276px hsla(0, 0%, 100%, 0.04),
        1118px 1627px hsla(0, 0%, 100%, 0.04),
        77px 742px hsla(0, 0%, 100%, 0.04), 57px 542px hsla(0, 0%, 100%, 0.04),
        310px 1840px hsla(0, 0%, 100%, 0.04),
        1386px 1506px hsla(0, 0%, 100%, 0.04),
        782px 2503px hsla(0, 0%, 100%, 0.04),
        914px 1273px hsla(0, 0%, 100%, 0.04),
        2081px 824px hsla(0, 0%, 100%, 0.04),
        1707px 712px hsla(0, 0%, 100%, 0.04),
        1127px 2386px hsla(0, 0%, 100%, 0.04),
        2149px 273px hsla(0, 0%, 100%, 0.04),
        835px 226px hsla(0, 0%, 100%, 0.04),
        2529px 1019px hsla(0, 0%, 100%, 0.04),
        2449px 519px hsla(0, 0%, 100%, 0.04),
        968px 680px hsla(0, 0%, 100%, 0.04),
        2111px 1251px hsla(0, 0%, 100%, 0.04),
        524px 1521px hsla(0, 0%, 100%, 0.04),
        1565px 612px hsla(0, 0%, 100%, 0.04),
        964px 1490px hsla(0, 0%, 100%, 0.04),
        2253px 1502px hsla(0, 0%, 100%, 0.04),
        676px 796px hsla(0, 0%, 100%, 0.04),
        839px 1220px hsla(0, 0%, 100%, 0.04),
        23px 2520px hsla(0, 0%, 100%, 0.04),
        1438px 314px hsla(0, 0%, 100%, 0.04),
        297px 1131px hsla(0, 0%, 100%, 0.04),
        436px 1353px hsla(0, 0%, 100%, 0.04),
        716px 1338px hsla(0, 0%, 100%, 0.04),
        2390px 740px hsla(0, 0%, 100%, 0.04),
        561px 1203px hsla(0, 0%, 100%, 0.04),
        2546px 727px hsla(0, 0%, 100%, 0.04),
        128px 1903px hsla(0, 0%, 100%, 0.04),
        2312px 2247px hsla(0, 0%, 100%, 0.04),
        1777px 1000px hsla(0, 0%, 100%, 0.04),
        323px 405px hsla(0, 0%, 100%, 0.04), 445px 646px hsla(0, 0%, 100%, 0.04);
}

.particle-1:after {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 hsla(0, 0%, 100%, 0.04),
        1874px 604px hsla(0, 0%, 100%, 0.04),
        1603px 2444px hsla(0, 0%, 100%, 0.04),
        1449px 1365px hsla(0, 0%, 100%, 0.04),
        708px 367px hsla(0, 0%, 100%, 0.04), 23px 1025px hsla(0, 0%, 100%, 0.04),
        673px 2516px hsla(0, 0%, 100%, 0.04),
        1245px 1002px hsla(0, 0%, 100%, 0.04),
        2321px 390px hsla(0, 0%, 100%, 0.04),
        1337px 1477px hsla(0, 0%, 100%, 0.04),
        1934px 107px hsla(0, 0%, 100%, 0.04),
        2545px 2384px hsla(0, 0%, 100%, 0.04),
        617px 1042px hsla(0, 0%, 100%, 0.04),
        808px 349px hsla(0, 0%, 100%, 0.04),
        1083px 2248px hsla(0, 0%, 100%, 0.04),
        801px 1622px hsla(0, 0%, 100%, 0.04),
        2206px 1644px hsla(0, 0%, 100%, 0.04),
        1297px 2116px hsla(0, 0%, 100%, 0.04),
        355px 684px hsla(0, 0%, 100%, 0.04),
        2366px 663px hsla(0, 0%, 100%, 0.04),
        1714px 702px hsla(0, 0%, 100%, 0.04),
        129px 1483px hsla(0, 0%, 100%, 0.04),
        1431px 1965px hsla(0, 0%, 100%, 0.04),
        1289px 719px hsla(0, 0%, 100%, 0.04),
        2496px 2072px hsla(0, 0%, 100%, 0.04),
        76px 1685px hsla(0, 0%, 100%, 0.04),
        1939px 2317px hsla(0, 0%, 100%, 0.04),
        2201px 2224px hsla(0, 0%, 100%, 0.04),
        363px 1558px hsla(0, 0%, 100%, 0.04),
        1963px 100px hsla(0, 0%, 100%, 0.04),
        2396px 586px hsla(0, 0%, 100%, 0.04),
        578px 967px hsla(0, 0%, 100%, 0.04),
        738px 1985px hsla(0, 0%, 100%, 0.04),
        816px 1479px hsla(0, 0%, 100%, 0.04),
        2204px 863px hsla(0, 0%, 100%, 0.04),
        951px 1694px hsla(0, 0%, 100%, 0.04),
        469px 1382px hsla(0, 0%, 100%, 0.04),
        1687px 169px hsla(0, 0%, 100%, 0.04),
        1831px 427px hsla(0, 0%, 100%, 0.04),
        218px 2001px hsla(0, 0%, 100%, 0.04),
        708px 2559px hsla(0, 0%, 100%, 0.04),
        1177px 2400px hsla(0, 0%, 100%, 0.04),
        2399px 2098px hsla(0, 0%, 100%, 0.04),
        296px 1019px hsla(0, 0%, 100%, 0.04),
        1348px 188px hsla(0, 0%, 100%, 0.04),
        2379px 2416px hsla(0, 0%, 100%, 0.04),
        1335px 1561px hsla(0, 0%, 100%, 0.04),
        674px 2294px hsla(0, 0%, 100%, 0.04),
        186px 769px hsla(0, 0%, 100%, 0.04),
        2103px 1116px hsla(0, 0%, 100%, 0.04),
        1882px 1106px hsla(0, 0%, 100%, 0.04),
        465px 1809px hsla(0, 0%, 100%, 0.04),
        995px 262px hsla(0, 0%, 100%, 0.04),
        312px 2526px hsla(0, 0%, 100%, 0.04),
        2319px 2449px hsla(0, 0%, 100%, 0.04),
        74px 712px hsla(0, 0%, 100%, 0.04),
        1178px 2043px hsla(0, 0%, 100%, 0.04),
        939px 2422px hsla(0, 0%, 100%, 0.04),
        1265px 447px hsla(0, 0%, 100%, 0.04),
        1603px 2485px hsla(0, 0%, 100%, 0.04),
        1961px 1050px hsla(0, 0%, 100%, 0.04),
        310px 2449px hsla(0, 0%, 100%, 0.04),
        592px 184px hsla(0, 0%, 100%, 0.04),
        1132px 1528px hsla(0, 0%, 100%, 0.04),
        2124px 591px hsla(0, 0%, 100%, 0.04),
        2353px 1482px hsla(0, 0%, 100%, 0.04),
        1128px 1247px hsla(0, 0%, 100%, 0.04),
        141px 1290px hsla(0, 0%, 100%, 0.04),
        382px 158px hsla(0, 0%, 100%, 0.04), 649px 590px hsla(0, 0%, 100%, 0.04),
        336px 361px hsla(0, 0%, 100%, 0.04),
        1104px 1597px hsla(0, 0%, 100%, 0.04),
        1990px 796px hsla(0, 0%, 100%, 0.04),
        1136px 1761px hsla(0, 0%, 100%, 0.04),
        595px 1130px hsla(0, 0%, 100%, 0.04),
        695px 342px hsla(0, 0%, 100%, 0.04),
        826px 2165px hsla(0, 0%, 100%, 0.04),
        2300px 1940px hsla(0, 0%, 100%, 0.04),
        2035px 1592px hsla(0, 0%, 100%, 0.04),
        2493px 1734px hsla(0, 0%, 100%, 0.04),
        1305px 463px hsla(0, 0%, 100%, 0.04), 340px 18px hsla(0, 0%, 100%, 0.04),
        13px 376px hsla(0, 0%, 100%, 0.04), 795px 297px hsla(0, 0%, 100%, 0.04),
        1210px 1467px hsla(0, 0%, 100%, 0.04),
        183px 1004px hsla(0, 0%, 100%, 0.04),
        1247px 2478px hsla(0, 0%, 100%, 0.04),
        1388px 1021px hsla(0, 0%, 100%, 0.04),
        134px 1770px hsla(0, 0%, 100%, 0.04),
        1243px 365px hsla(0, 0%, 100%, 0.04),
        607px 2010px hsla(0, 0%, 100%, 0.04),
        661px 2240px hsla(0, 0%, 100%, 0.04),
        2041px 923px hsla(0, 0%, 100%, 0.04),
        2283px 2529px hsla(0, 0%, 100%, 0.04),
        1861px 982px hsla(0, 0%, 100%, 0.04),
        1573px 609px hsla(0, 0%, 100%, 0.04),
        187px 1213px hsla(0, 0%, 100%, 0.04),
        411px 250px hsla(0, 0%, 100%, 0.04), 286px 934px hsla(0, 0%, 100%, 0.04),
        701px 1851px hsla(0, 0%, 100%, 0.04),
        777px 704px hsla(0, 0%, 100%, 0.04),
        2204px 1563px hsla(0, 0%, 100%, 0.04),
        1318px 1950px hsla(0, 0%, 100%, 0.04),
        231px 2242px hsla(0, 0%, 100%, 0.04),
        1509px 674px hsla(0, 0%, 100%, 0.04),
        1691px 2452px hsla(0, 0%, 100%, 0.04),
        119px 491px hsla(0, 0%, 100%, 0.04),
        1616px 1318px hsla(0, 0%, 100%, 0.04),
        869px 2474px hsla(0, 0%, 100%, 0.04),
        224px 605px hsla(0, 0%, 100%, 0.04),
        2319px 1812px hsla(0, 0%, 100%, 0.04),
        2036px 170px hsla(0, 0%, 100%, 0.04),
        1746px 2277px hsla(0, 0%, 100%, 0.04),
        1693px 1285px hsla(0, 0%, 100%, 0.04),
        1379px 276px hsla(0, 0%, 100%, 0.04),
        1805px 662px hsla(0, 0%, 100%, 0.04),
        348px 247px hsla(0, 0%, 100%, 0.04),
        1338px 309px hsla(0, 0%, 100%, 0.04),
        1713px 1580px hsla(0, 0%, 100%, 0.04),
        276px 491px hsla(0, 0%, 100%, 0.04),
        1984px 2050px hsla(0, 0%, 100%, 0.04),
        1575px 1086px hsla(0, 0%, 100%, 0.04),
        775px 1325px hsla(0, 0%, 100%, 0.04),
        439px 1051px hsla(0, 0%, 100%, 0.04),
        197px 1052px hsla(0, 0%, 100%, 0.04),
        1039px 400px hsla(0, 0%, 100%, 0.04),
        1245px 815px hsla(0, 0%, 100%, 0.04),
        582px 2262px hsla(0, 0%, 100%, 0.04),
        2303px 1420px hsla(0, 0%, 100%, 0.04),
        1436px 1269px hsla(0, 0%, 100%, 0.04),
        1786px 2113px hsla(0, 0%, 100%, 0.04),
        1273px 1440px hsla(0, 0%, 100%, 0.04),
        2334px 2398px hsla(0, 0%, 100%, 0.04),
        1078px 998px hsla(0, 0%, 100%, 0.04),
        211px 801px hsla(0, 0%, 100%, 0.04),
        2298px 1427px hsla(0, 0%, 100%, 0.04),
        2020px 144px hsla(0, 0%, 100%, 0.04),
        1972px 2143px hsla(0, 0%, 100%, 0.04),
        225px 183px hsla(0, 0%, 100%, 0.04),
        939px 2146px hsla(0, 0%, 100%, 0.04),
        1320px 1998px hsla(0, 0%, 100%, 0.04),
        2016px 1177px hsla(0, 0%, 100%, 0.04),
        185px 864px hsla(0, 0%, 100%, 0.04),
        2548px 2356px hsla(0, 0%, 100%, 0.04),
        1972px 2268px hsla(0, 0%, 100%, 0.04),
        218px 2110px hsla(0, 0%, 100%, 0.04),
        717px 366px hsla(0, 0%, 100%, 0.04),
        1606px 214px hsla(0, 0%, 100%, 0.04),
        1922px 1577px hsla(0, 0%, 100%, 0.04),
        1034px 2141px hsla(0, 0%, 100%, 0.04),
        1578px 1072px hsla(0, 0%, 100%, 0.04),
        2107px 153px hsla(0, 0%, 100%, 0.04),
        23px 2101px hsla(0, 0%, 100%, 0.04), 750px 353px hsla(0, 0%, 100%, 0.04),
        1317px 2237px hsla(0, 0%, 100%, 0.04),
        1249px 315px hsla(0, 0%, 100%, 0.04),
        1975px 2028px hsla(0, 0%, 100%, 0.04),
        407px 1801px hsla(0, 0%, 100%, 0.04),
        1106px 76px hsla(0, 0%, 100%, 0.04),
        1783px 425px hsla(0, 0%, 100%, 0.04),
        253px 1327px hsla(0, 0%, 100%, 0.04),
        698px 2504px hsla(0, 0%, 100%, 0.04),
        2198px 1961px hsla(0, 0%, 100%, 0.04),
        87px 860px hsla(0, 0%, 100%, 0.04), 521px 1189px hsla(0, 0%, 100%, 0.04),
        605px 374px hsla(0, 0%, 100%, 0.04),
        632px 2355px hsla(0, 0%, 100%, 0.04),
        387px 144px hsla(0, 0%, 100%, 0.04),
        572px 2158px hsla(0, 0%, 100%, 0.04),
        750px 1813px hsla(0, 0%, 100%, 0.04),
        567px 820px hsla(0, 0%, 100%, 0.04),
        2465px 1305px hsla(0, 0%, 100%, 0.04),
        1945px 1272px hsla(0, 0%, 100%, 0.04),
        766px 2105px hsla(0, 0%, 100%, 0.04),
        1623px 1069px hsla(0, 0%, 100%, 0.04),
        1119px 1702px hsla(0, 0%, 100%, 0.04),
        1645px 1410px hsla(0, 0%, 100%, 0.04),
        792px 1591px hsla(0, 0%, 100%, 0.04),
        2255px 1050px hsla(0, 0%, 100%, 0.04),
        1932px 2221px hsla(0, 0%, 100%, 0.04),
        1379px 743px hsla(0, 0%, 100%, 0.04),
        1670px 224px hsla(0, 0%, 100%, 0.04),
        2336px 1169px hsla(0, 0%, 100%, 0.04),
        2194px 173px hsla(0, 0%, 100%, 0.04),
        2044px 2039px hsla(0, 0%, 100%, 0.04),
        2340px 1696px hsla(0, 0%, 100%, 0.04),
        1630px 1472px hsla(0, 0%, 100%, 0.04),
        1896px 1776px hsla(0, 0%, 100%, 0.04),
        2082px 1379px hsla(0, 0%, 100%, 0.04),
        1409px 2533px hsla(0, 0%, 100%, 0.04),
        2128px 1355px hsla(0, 0%, 100%, 0.04),
        1317px 2209px hsla(0, 0%, 100%, 0.04),
        99px 638px hsla(0, 0%, 100%, 0.04),
        2127px 1496px hsla(0, 0%, 100%, 0.04),
        1000px 312px hsla(0, 0%, 100%, 0.04),
        2408px 2441px hsla(0, 0%, 100%, 0.04),
        1992px 2543px hsla(0, 0%, 100%, 0.04),
        1065px 1348px hsla(0, 0%, 100%, 0.04),
        80px 614px hsla(0, 0%, 100%, 0.04),
        1330px 1646px hsla(0, 0%, 100%, 0.04),
        1004px 1855px hsla(0, 0%, 100%, 0.04),
        773px 1277px hsla(0, 0%, 100%, 0.04),
        1355px 2381px hsla(0, 0%, 100%, 0.04),
        227px 1348px hsla(0, 0%, 100%, 0.04),
        1902px 914px hsla(0, 0%, 100%, 0.04),
        958px 107px hsla(0, 0%, 100%, 0.04),
        1394px 672px hsla(0, 0%, 100%, 0.04),
        1556px 1672px hsla(0, 0%, 100%, 0.04),
        442px 832px hsla(0, 0%, 100%, 0.04),
        2459px 1178px hsla(0, 0%, 100%, 0.04),
        286px 1484px hsla(0, 0%, 100%, 0.04),
        2553px 64px hsla(0, 0%, 100%, 0.04),
        1125px 947px hsla(0, 0%, 100%, 0.04),
        1358px 1733px hsla(0, 0%, 100%, 0.04),
        2216px 2431px hsla(0, 0%, 100%, 0.04),
        2507px 2515px hsla(0, 0%, 100%, 0.04),
        732px 1899px hsla(0, 0%, 100%, 0.04),
        2072px 34px hsla(0, 0%, 100%, 0.04),
        1354px 2537px hsla(0, 0%, 100%, 0.04),
        739px 1724px hsla(0, 0%, 100%, 0.04),
        636px 2315px hsla(0, 0%, 100%, 0.04),
        1874px 583px hsla(0, 0%, 100%, 0.04),
        1466px 1540px hsla(0, 0%, 100%, 0.04),
        300px 2462px hsla(0, 0%, 100%, 0.04),
        2540px 50px hsla(0, 0%, 100%, 0.04),
        334px 2441px hsla(0, 0%, 100%, 0.04),
        1256px 2228px hsla(0, 0%, 100%, 0.04),
        1267px 585px hsla(0, 0%, 100%, 0.04),
        1981px 2390px hsla(0, 0%, 100%, 0.04),
        1028px 2357px hsla(0, 0%, 100%, 0.04),
        2064px 2152px hsla(0, 0%, 100%, 0.04),
        1191px 2068px hsla(0, 0%, 100%, 0.04),
        746px 2094px hsla(0, 0%, 100%, 0.04),
        2212px 1569px hsla(0, 0%, 100%, 0.04),
        521px 1162px hsla(0, 0%, 100%, 0.04),
        1844px 1984px hsla(0, 0%, 100%, 0.04),
        662px 1339px hsla(0, 0%, 100%, 0.04),
        1384px 2487px hsla(0, 0%, 100%, 0.04),
        1411px 1227px hsla(0, 0%, 100%, 0.04),
        262px 1466px hsla(0, 0%, 100%, 0.04), 78px 30px hsla(0, 0%, 100%, 0.04),
        1018px 869px hsla(0, 0%, 100%, 0.04),
        207px 2035px hsla(0, 0%, 100%, 0.04),
        110px 473px hsla(0, 0%, 100%, 0.04),
        738px 1918px hsla(0, 0%, 100%, 0.04),
        744px 363px hsla(0, 0%, 100%, 0.04),
        1756px 1003px hsla(0, 0%, 100%, 0.04),
        1108px 596px hsla(0, 0%, 100%, 0.04),
        668px 1108px hsla(0, 0%, 100%, 0.04),
        1523px 671px hsla(0, 0%, 100%, 0.04),
        135px 1136px hsla(0, 0%, 100%, 0.04),
        273px 2272px hsla(0, 0%, 100%, 0.04),
        1293px 2366px hsla(0, 0%, 100%, 0.04),
        1664px 786px hsla(0, 0%, 100%, 0.04),
        2496px 2142px hsla(0, 0%, 100%, 0.04),
        1565px 647px hsla(0, 0%, 100%, 0.04),
        394px 1474px hsla(0, 0%, 100%, 0.04),
        466px 167px hsla(0, 0%, 100%, 0.04),
        1077px 2057px hsla(0, 0%, 100%, 0.04),
        2166px 1126px hsla(0, 0%, 100%, 0.04),
        237px 737px hsla(0, 0%, 100%, 0.04), 144px 488px hsla(0, 0%, 100%, 0.04),
        2187px 258px hsla(0, 0%, 100%, 0.04),
        1465px 1039px hsla(0, 0%, 100%, 0.04),
        2304px 1488px hsla(0, 0%, 100%, 0.04),
        2525px 2538px hsla(0, 0%, 100%, 0.04),
        590px 1972px hsla(0, 0%, 100%, 0.04),
        1854px 2274px hsla(0, 0%, 100%, 0.04),
        1228px 1919px hsla(0, 0%, 100%, 0.04),
        1048px 1027px hsla(0, 0%, 100%, 0.04),
        1535px 2374px hsla(0, 0%, 100%, 0.04),
        171px 129px hsla(0, 0%, 100%, 0.04),
        2421px 2501px hsla(0, 0%, 100%, 0.04),
        272px 2314px hsla(0, 0%, 100%, 0.04),
        196px 1507px hsla(0, 0%, 100%, 0.04),
        2218px 251px hsla(0, 0%, 100%, 0.04),
        1754px 1318px hsla(0, 0%, 100%, 0.04),
        1765px 983px hsla(0, 0%, 100%, 0.04),
        451px 1034px hsla(0, 0%, 100%, 0.04),
        1212px 2314px hsla(0, 0%, 100%, 0.04),
        1117px 715px hsla(0, 0%, 100%, 0.04),
        1480px 251px hsla(0, 0%, 100%, 0.04),
        1001px 1803px hsla(0, 0%, 100%, 0.04),
        1364px 583px hsla(0, 0%, 100%, 0.04),
        1697px 824px hsla(0, 0%, 100%, 0.04),
        1227px 624px hsla(0, 0%, 100%, 0.04),
        2306px 1915px hsla(0, 0%, 100%, 0.04),
        246px 778px hsla(0, 0%, 100%, 0.04),
        1216px 1419px hsla(0, 0%, 100%, 0.04),
        1996px 2347px hsla(0, 0%, 100%, 0.04),
        378px 568px hsla(0, 0%, 100%, 0.04),
        1651px 1580px hsla(0, 0%, 100%, 0.04),
        2510px 129px hsla(0, 0%, 100%, 0.04),
        1196px 1533px hsla(0, 0%, 100%, 0.04),
        2287px 2515px hsla(0, 0%, 100%, 0.04),
        1561px 813px hsla(0, 0%, 100%, 0.04),
        1564px 560px hsla(0, 0%, 100%, 0.04),
        1908px 576px hsla(0, 0%, 100%, 0.04),
        2499px 156px hsla(0, 0%, 100%, 0.04),
        429px 1364px hsla(0, 0%, 100%, 0.04),
        2196px 1354px hsla(0, 0%, 100%, 0.04);
}

@keyframes animParticle {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(-2560px);
        transform: translateY(-2560px);
    }
}
